*.ipynb_checkpoints
notebooks/data/*
notebooks/input/skillcorner/*
notebooks/input/wyscout/*
!notebooks/input/wyscout/.gitkeep
!notebooks/input/skillcorner/.gitkeep
notebooks/results/*
notebooks/Pipfile
notebooks/presentation.pptx
notebooks/input*